@font-face{
    font-family: acme;
    src: url(../custom_fonts/Acme-Regular.ttf);
}

@font-face{
    font-family: dancingScript;
    src: url(../custom_fonts/DancingScript-Regular.ttf);
}

@font-face{
    font-family: slabo;
    src: url(../custom_fonts/Slabo27px-Regular.ttf);
}

@font-face{
    font-family: notosans;
    src: url(../custom_fonts/NotoSans-Regular.ttf);
}

.acme{
    font-family: acme;
}

.dancingScript{
    font-family: dancingScript;
}

.slabo{
    font-family: slabo;
}

.notosans{
    font-family: notosans;
}




.nav_custom{
    font-family: acme;
    font-size: 11pt;
}

html {
    scroll-behavior: smooth;
}

.my_link{
    text-decoration: none;
}

@media screen and (max-width: 991px){
    .left{
        text-align: left;
    }
}