@font-face{
    font-family: acme;
    src: url(../custom_fonts/Acme-Regular.ttf);
}

@font-face{
    font-family: dancingScript;
    src: url(../custom_fonts/DancingScript-Regular.ttf);
}

@font-face{
    font-family: slabo;
    src: url(../custom_fonts/Slabo27px-Regular.ttf);
}

.acme{
    font-family: acme;
}

.dancingScript{
    font-family: dancingScript;
}

.slabo{
    font-family: slabo;
}

.nav_custom{
    font-family: acme;
    font-size: 11pt;
}

html {
    scroll-behavior: smooth;
}