#ViewMain{min-height:500px; height:auto !important;}
#View1{min-height:350px;height:auto !important;/*border:1px solid black; */}
#Overview{clear:both;}
#Info{float:left;width:500px; }
#S_Structure{float:left;margin-left:25px;}
#Basic{float:left; width:860px; }
#Integrated #AnnotationButton{height:30px; margin-left:15px; font-size:18px; background-color: rgb(255, 235, 235);}
#PTMPDB{float:top; width:400px; height:300px; position: relative; text-align:center; vertical-align:middle;}
#pdb_foot{text-align:center;height:30px;margin-top:3px}
#pdb_code{float:left;width:220px;margin-left:10px}
#domain_color{float:right;width:180px;font-weight:bold;color:white;margin-right:15px}
.domain_c{height:20px;width:20px;z-index:999;position:absolute}
#pdb_foot{text-align:center}
#container {margin:0 auto;min-width:1400px;}
#view {margin:0 auto; width:99%;min-width:1400px;}
table {line-height:150%}
#Name{height:90px;}
#sideview{position:fixed; width:180px; height:100px; margin-top:60px;}
#maincontent{/*background-color:#deeff5; */ left:200px; width:1200px; margin-left:200px; }
.sideview li{height:30px;margin-left:-20px;margin-top:2px;line-height:30px;background-color:rgb(255, 235, 235);}
.sideview a:link {text-decoration: none;color:rgb(0, 95, 164);}
.sideview a:visited {text-decoration: none;color:rgb(0, 95, 164);}
.sideview a:hover {text-decoration: underline;}
.sideview a:active {text-decoration: none;}
.type1{color: #000000; font-size: 18px;}
.type{color:#EE7942; font-size: 24px;}
/*background-color:red; */

p{font-weight:bold;}
div{font-family: Arial;}
h2{font-family:Arial;}
.label{width:180px;color:rgb(0, 71, 96);}
.tabdata0{text-align:center;vertical-align: middle;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tabdata0:hover {
    overflow: auto;
    white-space: pre-wrap;
}
a:link    {color: rgb(0, 140, 180); text-decoration: none;font-weight:bold;}
a:visited {color: rgb(0, 140, 180); text-decoration: none;font-weight:bold}
a:hover   {color: rgb(40, 120, 148); text-decoration: underline;font-weight:bold;}
a:active  {color: rgb(0, 127, 164); text-decoration: none;font-weight:bold}
.array1{/*background-color:#F0FFF0;*/width:980px; text-align:left; }
.array{/*background-color:#F0FFF0;*/width:970px; font-weight:bold;text-align:left; }
.tablabel{text-align:right; color: rgb(18, 107, 164);font-weight:bold;}
.content{text-align:justify;}
td.justify > span 
{ 
����display: inline-block /* Opera */; 
����padding-left: 100%; 
}
/*rgb(254, 230, 252);*/
.tablabel2{text-align:left; color: rgb(18, 107, 164);font-weight:bold;background-color: rgb(255, 235, 235);vertical-align: middle;}
.tabhead{text-align:center; color: rgb(0, 0, 0);font-weight:bold;background-color: rgb(255, 235, 235);vertical-align: middle;font-size: 20px;height:35px;}
.tabhead1{text-align:left; color: rgb(0, 0, 0);font-weight:bold;background-color: rgb(255, 235, 235);vertical-align: middle;font-size: 20px;height:35px;}
.tabhead2{text-align:center; color: rgb(0, 71, 96);font-weight:normal;background-color:rgb(255, 235, 235);vertical-align: middle;font-size: 20px;height:35px;}
.tabdata{text-align:center;vertical-align: middle;word-wrap: break-word;font-size: 20px;height:35px;}
.tabdata1{text-align:left;vertical-align: middle; word-wrap: break-word;height:35px;}
.couriernew {font-family: 'Courier New', Courier, monospace; font-weight:bold;text-align:left;overflow:hidden;white-space:nowrap}
.None {color:rgb(220,220,220);}
.site td{font-weight:bold; text-align:center; font-size:18px; }
.bold{font-weight:bold;}
.normal{font-weight:normal;}
#SVGView{width:980px; overflow-x:auto;/*background-color:#F0FFF0;*/}
#dna_store_seq{display:none}
/* Slider */
.sliderbutton{float:left;width:40px;margin-bottom:5px;}
#slider{float:left; width:250px; margin-left:20px; margin-right:20px; margin-top:3px;}
#Gene_name {float:left;width:300px}
#Integrated{float:right;text-align:center;width:290px; height:42px; margin-top:18px; border-width:0px;  border-color: rgb(255, 235, 235); border-style:groove;border-radius:3px; font-size:22px; background-color: rgb(255, 235, 235); line-height:40px;}
#Integrated:hover  {float:right;text-align:center;width:290px; height:42px; margin-top:18px; border-width:0px;  border-color: rgb(255, 235, 235); border-style:groove;border-radius:3px; font-size:22px; background-color: rgb(255, 235, 235); line-height:40px;text-decoration: underline;}
#dna_f_seq{
    padding:20px;
    width:500px;
    /* height:550px;*/
    font-family:Microsoft YaHei;
    text-align:justify;
    line-height:22px;
    border:solid 1px #c3c3c3;
    background-color:white;
    /* Do rounding (native in Opera, Firefox and Safari) */
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#pep_f_seq{
    padding:20px;
    width:500px;
    /* height:550px;*/
 
    text-align:justify;
    line-height:22px;
    border:solid 1px #c3c3c3;
    background-color:white;
    /* Do rounding (native in Opera, Firefox and Safari) */
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/* MSA info */
/* #MSAdialog {line-height:1;} */
#MSAdialog td{background-color:#CCCCCC; font-family: 'Courier New', Courier, monospace; font-weight:bold; font-size:17px;}
#MSAdialog th{background-color:white; font-family: 'Courier New', Courier, monospace; font-weight:bold; text-align:right; }

.Ide{background-color:#EE7942}
.Ort{background-color:#B0E2FF}

